<!DOCTYPE html>
<html>
	<head>

		<!-- CSS -->

		<style type="text/css">
		svg{
			width:100%;
			height:100%;
			top:100px;
			margin:0;
			padding:0;
		}
		#wrapper{
			margin-left:auto;
			margin-right:auto;
			width:100%;
			height:100%;
		}
		.title {
			position:absolute;
			float:right;
			height:50px;
			width:200px;
			margin:0;
			padding:0;
		}

		</style>
		<!-- JS -->
		<script type="text/javascript" src="/static/object.js"></script>
		<script type="text/javascript" src="/static/calculate.js"></script>

	</head>


	<body>
	<div id="wrapper">
	</div>

<script type="text/javascript" src="/static/engine.js"></script>

</body>
</html>