<!DOCTYPE html>
<html>
	<head>

		<!-- CSS -->

		<style type="text/css">
		svg{
			width:100%;
			height:100%;
			top:100px;
			margin:0;
			padding:0;
		}
		#wrapper{
			margin-left:auto;
			margin-right:auto;
			width:100%;
			height:100%;
		}
		.title {
			position:absolute;
			float:right;
			height:50px;
			width:200px;
			margin:0;
			padding:0;
		}

		</style>

		<!-- JS -->
		<script type="text/javascript" src="/static/jquery.js"></script>
		<script type="text/javascript" src="/static/object.js"></script>
		<script type="text/javascript" src="/static/calculate.js"></script>
		<script type="text/javascript" src="/static/engine.js"></script>

	</head>


	<body>
<div id='container'>
	<div id="wrapper">
	<svg
	xmlns="http://www.w3.org/2000/svg"
	 xmlns:xlink="http://www.w3.org/1999/xlink"
	 id= 'vectors'
	>
	<%= @elements %>
	 <!-- <polygon points="200,10 300,85 250,190 160,210 160,10"
  style="fill:lime;stroke:purple;stroke-width:1"/> -->
	</svg> 
	</div>
	</div></body>
</html>